/* Set background image for the entire page */
body {
    font-family: Arial, sans-serif;
    background-color: #823E56;
    margin: 0;
    padding: 0;
}

/* Other custom styles */
h1 {
    text-align: center;
    color: white; /* Adjust text color for readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Adds shadow to the text */
}

button {
    background-color: #823E56;
    color: #93254B;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: white;
}

.stSelectbox, .stTextInput, .stNumberInput {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.stNumberInput, .stTextInput, .stSelectbox {
    margin-bottom: 20px;
}

.stButton {
    width: 100%;
    padding: 15px;
    background-color: #823E56;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.stButton:hover {
    background-color: #93254B;
}
